/* Sidebar.css */

.Left-Sidebar {
    width: 300px;
    
    margin: 0;
    padding: 0px;
    position: fixed;
    top: 60px; /* Adjust this value to match the height of your navbar */
    left: 0;
    bottom: 0;
    
    overflow-y: auto; /* Add scrollbar if content exceeds height */
    
  }
  
  .Left-Sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; /* Add some margin to create space for the text */
  }
  
  .Left-Sidebar li {
    display: block;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: black;
    text-align: center;
   
    
    
  }
  
  .Lefft-Sidebar li:hover {
    background-color: #2f477a;
  }
  
  .Sidebar li div:first-child {
    margin-right: 10px;
  }
  
  .Left-Sidebar li div {
    font-size: 18px;
    
  }
  
  .Left-Sidebar li span {
    margin-left: 5px;
  }
  
  .Left-Sidebar li svg {
    fill: #fff;
  }
  
  .Left-Sidebar li:hover svg {
    fill: #dfe3ee;
  }

  .Right-Sidebar {
    width: 300px;
    
    margin: 0;
    padding-top: 10px;
    position: fixed;
    top: 60px; /* Adjust this value to match the height of your navbar */
    right: 0;
    bottom: 0;
    
    overflow-y: auto; /* Add scrollbar if content exceeds height */
    
  }

  .Right-Sidebar ol {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: black;
    text-align: center;
    padding: 2px;
  }


  @media (max-width:768px) {
  
    .Left-Sidebar{
      display: none;
  
    }
    .Right-Sidebar{
      display: none;
    }
  }

  
 