/* Sidebar.css */

.Sidebar {
    width: 300px;
    background-color: #96989d;
    margin: 0;
    padding: 0px;
    position: fixed;
    top: 60px; /* Adjust this value to match the height of your navbar */
    left: 0;
    bottom: 0;
    color: #fff;
    overflow-y: auto; /* Add scrollbar if content exceeds height */
  }
  
  .Sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; /* Add some margin to create space for the text */
  }
  
  .Sidebar li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .Sidebar li:hover {
    background-color: #2f477a;
  }
  
  .Sidebar li div:first-child {
    margin-right: 10px;
  }
  
  .Sidebar li div {
    font-size: 18px;
  }
  
  .Sidebar li span {
    margin-left: 5px;
  }
  
  .Sidebar li svg {
    fill: #fff;
  }
  
  .Sidebar li:hover svg {
    fill: #dfe3ee;
  }
  